@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600,800,800i,900&display=swap');

body {
  margin: 0;
  margin-top: -25px;
  font-family:'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Color classes */

.dark-bg {
  background: #000014;
}

.yellow-bg {
  background: #F8EFE7;
}

.yellow-dark-bg {
  background: #C2946D;
}

.text-light {
  color: white;
}

/*  Alignment classes */
.d-flex {
  display: flex;
}

.d-flex.centered {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pl-2 {
  margin-left: 1em;
}

#about-area {
  max-width: 800px;
}

/* Size classes */


.small-text {
  font-size: 17px;
}

.regular-text {
  font-size: 20px;
}

.regular-text-title {
  font-size: 25px;
}